.title {
  text-align: center;
  display: 'flex';
  justify-Content:'center';
  align-Items:'center';
  
}

.heading {
  display: 'flex';
  justify-Content:'center';
  align-Items:'center';
  text-align: center;
  
}

.button{
  text-align: center;
}


